
.wholeApp {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
}

.Navi {
  /* background-color: #DA7A37; */
  height: 90px;
  font-style: bold;
  font-size: 15px;
  color: #005BAB;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  font-size: 55px;
}

.NavText {
  display: flex;
}

.NavText :hover {
  color: #00a651 !important;
  transform: scale(1.25);
  gap: 1.5rem;

}




.NavList Link {
  text-decoration: none;
  font-size: 90px;
  color: #989C63;
}

.nav-options {
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}


.Name {
  color: #000;
  font-size: px;
}



.headshot { 
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
}

.headshot img {
  box-shadow: 4.5px 4.5px #ee1c25;
  border: white solid 7.5px;
}


.image h1 {
  margin: 5%;
  justify-content: center;
  font-size: 100px;
  color: #ee1c25;
}
.image p {
  font-size: 25px;
  color: #ee1c25;
}

.image {
  margin: 5em;
  object-position: right;
}

.GradText {
  margin: 5rem;
  display: flex;
  gap: .5rem ;
}

.GradTextTitle {
  color: #ee1c25;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  padding-top: 75px;
}
.GradTextTitle h1 {
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.GradText p {
  
}

hr.about {
  border: #989C63 100px;
}

.projects {

  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
}

.projImage {
  border: #000 2px solid;
}

.projTitle {
  display: flex;
  justify-content: center;

}

.projButton :hover {
  transform: scale(1.15);
}

.projButton {
  display: flex;
  padding-top: .75rem;
  justify-content: space-evenly;
  gap: 2rem;
}

.projDetails {
  color: #000;
  display: flex;
  justify-content: center;
  padding: .75rem;
}

.projTechnology {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ContactMe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ThankYou {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterIcons {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.FooterIcons :hover {
  transform: scale(1.15);
  
}


.footer {
  background-color: #86A7C7;
  padding: 1.5rem;
}



